# node
node_modules/
*.log
*.tsbuildinfo
package-lock.json

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# env
.env
.env.local
.env.docker
.env.test

# OS / IDE
.DS_Store
.vscode/

# jest / coverage
coverage/
*.lcov

# next.js
.next/
out/

# build artifacts
dist/
build/

# other
notes.txt