NODE_ENV=production

POSTGRES_USER={{ backend_env_vars.BACKEND_DATABASE_USER }}
POSTGRES_PASSWORD={{ backend_env_vars.BACKEND_DATABASE_PASSWORD }}
POSTGRES_DB={{ backend_env_vars.BACKEND_DATABASE_NAME }}
POSTGRES_HOST={{ backend_env_vars.BACKEND_DATABASE_HOST }}
POSTGRES_PORT={{ backend_env_vars.BACKEND_DATABASE_PORT_NUMBER }}

DATABASE_URL=postgres://{{ backend_env_vars.BACKEND_DATABASE_USER }}:{{ backend_env_vars.BACKEND_DATABASE_PASSWORD }}@{{ backend_env_vars.BACKEND_DATABASE_HOST }}:{{ backend_env_vars.BACKEND_DATABASE_PORT_NUMBER }}/{{ backend_env_vars.BACKEND_DATABASE_NAME }}
