BACKEND_DATABASE_TYPE={{ backend_env_vars.BACKEND_DATABASE_TYPE }}
BACKEND_DATABASE_HOST={{ backend_env_vars.BACKEND_DATABASE_HOST }}
BACKEND_DATABASE_PORT_NUMBER={{ backend_env_vars.BACKEND_DATABASE_PORT_NUMBER }}
BACKEND_DATABASE_NAME={{ backend_env_vars.BACKEND_DATABASE_NAME }}
BACKEND_DATABASE_USER={{ backend_env_vars.BACKEND_DATABASE_USER }}
BACKEND_DATABASE_PASSWORD={{ backend_env_vars.BACKEND_DATABASE_PASSWORD }}